*{
    font-family: 'lato',sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background: #7a7a7a;
    border-radius: .6rem;
}


.bg-primary-color{
    background-color: #fff;
}

.bg-secondary-color{
    background-color: #ece8ea;
}

.bg-dark-color{
    background-color: #050505;
}
.primary-color{
    color: #050505;
}
.secunday-color{
    color: #7a7a7a;
}

/* NAVBAR */
#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
    color: #7a7a7a;
}
#navbar a.active{
    border-bottom: 1px solid #050505;
}
.navbar-brand{
    display: flex;
}

.navbar-brand img{
    width: 40px;
}

.navbar-brand span{
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: .5rem;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar_items .nav-item{
    margin: 0 1rem;
}

/* SLIDER */
#slider{
    margin-top: 8em;
    margin-bottom: 1em;
}

#slider .carousel-caption{
    bottom: 3em;
}
#slider .carousel-caption h5{
    font-size: 2.5em;
    text-shadow: 2px 2px #000;
}

.btn{
    border-radius: 0;
}

#slider .btn{
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i{
    color: #111;
    font-size: 3em;
}

.carousel-indicators [data-bs-target]{
    background-color: #222;
    opacity: 0.8;
}
.carousel-indicators .active{
    background-color: #000;
}

/* MINI BANNERS */

#mini-banners{
    margin-bottom: 4em;
}

#mini-banners .card{
    padding: 2em 0.3em;
    border-radius: 0;
}
#mini-banners i{
    font-size: 4em;
}

#mini-banners .card-title{
    margin-bottom: 1.5em;
}

#mini-banners .btn{
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
}

/* DESTAQUES */
#featured-container{
    margin-bottom: 4em;
}

.title{
    font-size: 1.75em;
    margin-bottom: .4em;
    position: relative;
}

.title:before{
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: "";
    position: absolute;
    bottom: 2em;
}

#featured-images .col-md-4{
    position: relative;
    cursor: pointer;
}



#featured-images .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff3a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.7;
    transition: 0.5s;

}

/*INFO*/
#info-content{
    margin-bottom: 4em;
    padding: 4em 1em;
}
#info-numbers{
    margin: 1.5em 0;
}
#info-banner{
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
}
#info-numbers  h3 { 
    font-size: 3em;
}

/* FOOTER TOP*/
#footer{
    padding: 3em 2em;
}

#footer-top{
    margin-bottom: 2em;
}

#footer-top,
#footer-top i{
    color: #fff;
}

#social-icons{
    text-align: right;
}

#social-icons i {
    margin-right: 1.5em;
    font-size: 2em;
    cursor: pointer;
}

#social-icons i:hover{
    color: #7a7a7a;

}

#footer-details{
    margin-bottom: 3em;
}

/* FOOTER BOTTOM */
#footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 3em;
}
#footer-bottom i{
    color: #e61e10;
}
#news-container input{
    border-radius: 0;
    border: none;
}



@media(min-width: 768px){
    #slider .carousel-caption{
        margin-bottom: 15em;
    }
    #slider .carousel-caption h5{
        font-size: 4em;
        text-shadow: 2px 3px #000;
    }
    #slider .btn{
        padding: 0.6 1.6em;
        font-size: 1.2em;
    }

    .carousel-indicators{
        bottom: 7em;
    }
    #mini-banners{
        margin-top: -6em;
    }
    #featured-images .col-md-4:hover > .banner-content{
        opacity: 0.4;
    }
    .title{
        font-size: 2.4em;
    }
    .title:before{
        bottom: 1.5em;
    }
    #featured-images .banner-content{
        opacity: 0;
    }
    #info-content{
        padding: 3.5em;
    }
    
    #footer-details{
        display: flex;
        justify-content: space-around;
    }
    #contact-container{
        text-align: center;
    }
}

